<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><div style="max-width: 900px; border: 1px solid #CCC; margin: 0 auto; font-size: 14px; background-color: #EEE; background-image: url('/static/common/img/bg.png'); background-repeat: repeat; max-width: 1000px;">
	
	<table style="width: 100%; border-spacing: 0; text-align: left; font-size: 20px; /* margin: -1px; */">
		<tbody>
			<tr>
				<td style="width: 100%; margin: 0; padding: 6px 12px; background-color: #1a476f; color: #fff; ">Tabela de Rentabilidades</td>
				
			</tr>
		</tbody>
	</table>
	
	
	<div style="padding: 20px; font-size: 12px;">
		
			<table style="width: 100%; text-align: left; border-spacing: 10px; margin: -10px; border-radius: 3px; border-spacing: 0; background-color: #FAFAFA; border: 1px solid #DDD; font-size: 11px;">

				<thead>
					<tr>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; border-top-left-radius: 3px;">Fundo</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data</th>
						 <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data de Início</th>
						<!-- <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC;">Data de Início</th> -->
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Cota</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Dia</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Mês</th>
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Ano</th>
						
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">6M</th>
							
							
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">12M</th>
							
							
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">18M</th>
								
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">24M</th>
								
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">36M</th>
								
						
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">PL<br><span style="font-size: 9px">(R$ Milhões)</span></th>
						
						
						<!--  <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">% AuM</th> -->
					</tr>
				</thead>
				<tbody>
					
					
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI INSTITUCIONAL FIA</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						<td style="padding: 6px 6px; text-align: center;">30/09/2011</td>
						<!-- <td style="padding: 6px 6px;">30/09/2011</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,6907200</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,54%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">5,74%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">5,74%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">25,47%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">39,64%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">69,91%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">75,41%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">186,46%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">635,60</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">43,16%</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG BIASED FIM CP</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						<td style="padding: 6px 6px; text-align: center;">27/12/2016</td>
						<!-- <td style="padding: 6px 6px;">27/12/2016</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1,7009177</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,34%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">3,43%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,43%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">18,30%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">36,48%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">55,03%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">66,48%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">38,48</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,61%</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG SHORT FIM</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						<td style="padding: 6px 6px; text-align: center;">29/09/2010</td>
						<!-- <td style="padding: 6px 6px;">29/09/2010</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,7978826</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,11%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,37%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,37%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">5,84%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">15,19%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">21,93%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">29,03%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">50,93%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">762,97</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">51,81%</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG SHORT ICATU PREV FIM</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						<td style="padding: 6px 6px; text-align: center;">18/05/2017</td>
						<!-- <td style="padding: 6px 6px;">18/05/2017</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1,2500704</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,15%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,87%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,87%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">8,11%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">17,43%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">23,56%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">35,50</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,41%</td> -->
					</tr>
				
				
				</tbody>


				<tbody style="background-color: #EEE;">
					<tr>
						<td style="1px solid #ddd;">&nbsp;</td>
						<td style="1px solid #ddd;">&nbsp;</td>
						<td style="1px solid #ddd;">&nbsp;</td>
						<!-- <td style="1px solid #ddd;">&nbsp;</td> -->
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
					</tr>
				</tbody>


				<thead>
					<tr>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; border-top-left-radius: 3px;">Índice</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data</th>
						 
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data de Início</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Cotação</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Dia</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Mês</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Ano</th>
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">6M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">12M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">18M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">24M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">36M</th>
						
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;"></th>
						
						
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td style="padding: 6px 6px;">IBOV</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">93.805,94</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,21%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6,73%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6,73%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">25,30%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">19,96%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">48,84%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">50,98%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">130,98%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
					<tr>
						<td style="padding: 6px 6px;">IMA-B</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6.357,36</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,08%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,32%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,32%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">12,79%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">14,01%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">23,70%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">30,20%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">62,01%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
					<tr>
						<td style="padding: 6px 6px;">CDI</td>
						<td style="padding: 6px 6px; text-align: center;">10/01/2019</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,02%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,17%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,17%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,15%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6,41%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">10,68%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">16,80%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">33,28%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
				</tbody>

			</table>
			
				<p style="font-size: 12px; text-align: center; color: #666; font-size: 8px;">
					Para a coluna 'Início' dos Índices, foi utilizada a data de início do fundo mais antigo
				</p>





	</div>
	
	
	<div style="margin: 0 0 8px 0; padding: 4px; text-align: center; font-size: 11px; color: #CCC">
		<a style="color: #BBB; text-decoration: none;" href="http://www.inoa.com.br" target="_blank">
			AlphaTools - 2019 © Inoa Sistemas
		</a>
	</div>
	
</div>