<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><div style="max-width: 900px; border: 1px solid #CCC; margin: 0 auto; font-size: 14px; background-color: #EEE; background-image: url('/static/common/img/bg.png'); background-repeat: repeat; max-width: 1000px;">
	
	<table style="width: 100%; border-spacing: 0; text-align: left; font-size: 20px; /* margin: -1px; */">
		<tbody>
			<tr>
				<td style="width: 100%; margin: 0; padding: 6px 12px; background-color: #1a476f; color: #fff; background-color: #313265">Tabela de Rentabilidades</td>
				
				<td style="margin: 0; padding: 6px 12px; vertical-align: middle; background-color: #fff; background-color: #313265">
					<img width="120" height="30" style="max-width: 120px;" src="https://www.navi.com.br/img/logo_salmao_pequeno.png" alt="NAVI">
				</td>
				
			</tr>
		</tbody>
	</table>
	
	
	<div style="padding: 20px; font-size: 12px;">
		
			<table style="width: 100%; text-align: left; border-spacing: 10px; margin: -10px; border-radius: 3px; border-spacing: 0; background-color: #FAFAFA; border: 1px solid #DDD; font-size: 11px;">

				<thead>
					<tr>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; border-top-left-radius: 3px;">Fundo</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data</th>
						 <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data de Início</th>
						<!-- <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC;">Data de Início</th> -->
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Cota</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Dia</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Mês</th>
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Ano</th>
						
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">6M</th>
							
							
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">12M</th>
							
							
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">18M</th>
								
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">24M</th>
								
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">36M</th>
								
						
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">PL<br><span style="font-size: 9px">(R$ Milhões)</span></th>
						
						
						<!--  <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">% AuM</th> -->
					</tr>
				</thead>
				<tbody>
					
					
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI INSTITUCIONAL FIC FIA</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						<td style="padding: 6px 6px; text-align: center;">30/09/2011</td>
						<!-- <td style="padding: 6px 6px;">30/09/2011</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,1853038</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,15%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">1,89%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">25,17%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">11,28%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">49,43%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">43,09%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">67,51%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">120,74%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1.371,62</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">40,41%</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG BIASED FIC FIM</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						<td style="padding: 6px 6px; text-align: center;">27/12/2016</td>
						<!-- <td style="padding: 6px 6px;">27/12/2016</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1,9617096</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,33%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">0,63%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">19,29%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">9,26%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">38,32%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">39,04%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">62,48%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">558,79</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">16,46%</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG SHORT FIC FIM</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						<td style="padding: 6px 6px; text-align: center;">29/09/2010</td>
						<!-- <td style="padding: 6px 6px;">29/09/2010</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,9753813</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,25%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,18%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6,73%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,94%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">12,86%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">16,48%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">25,14%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">40,80%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1.369,22</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">40,34%</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG SHORT ICATU PREV FIM</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						<td style="padding: 6px 6px; text-align: center;">18/05/2017</td>
						<!-- <td style="padding: 6px 6px;">18/05/2017</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1,3598063</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,16%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,10%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">9,72%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">5,76%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">18,79%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">21,55%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">28,63%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">94,24</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,78%</td> -->
					</tr>
				
				
				</tbody>


				<tbody style="background-color: #EEE;">
					<tr>
						<td style="1px solid #ddd;">&nbsp;</td>
						<td style="1px solid #ddd;">&nbsp;</td>
						<td style="1px solid #ddd;">&nbsp;</td>
						<!-- <td style="1px solid #ddd;">&nbsp;</td> -->
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
					</tr>
				</tbody>


				<thead>
					<tr>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; border-top-left-radius: 3px;">Índice</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data</th>
						 
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data de Início</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Cotação</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Dia</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Mês</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Ano</th>
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">6M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">12M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">18M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">24M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">36M</th>
						
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;"></th>
						
						
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td style="padding: 6px 6px;">CDI</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,02%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,34%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">4,53%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,15%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6,30%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">9,70%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">13,45%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">26,81%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
					<tr>
						<td style="padding: 6px 6px;">IBOV</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">104.817,40</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,46%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,64%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">19,26%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6,91%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">34,18%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">24,54%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">37,91%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">81,54%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
					<tr>
						<td style="padding: 6px 6px;">IMA-B</td>
						<td style="padding: 6px 6px; text-align: center;">20/09/2019</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">7.409,24</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,50%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,61%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">19,25%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">11,63%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">31,20%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">29,29%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">35,00%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">58,83%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
				</tbody>

			</table>
			





	</div>
	
	
	<div style="margin: 0 0 8px 0; padding: 4px; text-align: center; font-size: 11px; color: #CCC">
		<a style="color: #BBB; text-decoration: none;" href="http://www.inoa.com.br" target="_blank">
			AlphaTools - 2019 © Inoa Sistemas
		</a>
	</div>
	
</div>