<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><div style="max-width: 900px; border: 1px solid #CCC; margin: 0 auto; font-size: 14px; background-color: #EEE; background-image: url('/static/common/img/bg.png'); background-repeat: repeat; max-width: 1000px;">
	
	<table style="width: 100%; border-spacing: 0; text-align: left; font-size: 20px; /* margin: -1px; */">
		<tbody>
			<tr>
				<td style="width: 100%; margin: 0; padding: 6px 12px; background-color: #1a476f; color: #fff; background-color: #313265">Tabela de Rentabilidades</td>
				
				<td style="margin: 0; padding: 6px 12px; vertical-align: middle; background-color: #fff; background-color: #313265">
					<img width="120" height="30" style="max-width: 120px;" src="https://www.navi.com.br/img/logo_salmao_pequeno.png" alt="NAVI">
				</td>
				
			</tr>
		</tbody>
	</table>
	
	
	<div style="padding: 20px; font-size: 12px;">
		
			<table style="width: 100%; text-align: left; border-spacing: 10px; margin: -10px; border-radius: 3px; border-spacing: 0; background-color: #FAFAFA; border: 1px solid #DDD; font-size: 11px;">

				<thead>
					<tr>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; border-top-left-radius: 3px;">Fundo</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data</th>
						 <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data de Início</th>
						<!-- <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC;">Data de Início</th> -->
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Cota Líquida</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Dia</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Mês</th>
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Ano</th>
						
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">6M</th>
							
							
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">12M</th>
							
							
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">18M</th>
								
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">24M</th>
								
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">36M</th>
								
						
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">PL<br><span style="font-size: 9px">(R$ Milhões)</span></th>
						
						
						<!--  <th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">% AuM</th> -->
					</tr>
				</thead>
				<tbody>
					
					
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI INSTITUCIONAL FIC FIA</td>
						<td style="padding: 6px 6px; text-align: center;">20/03/2020</td>
						<td style="padding: 6px 6px; text-align: center;">30/09/2011</td>
						<!-- <td style="padding: 6px 6px;">30/09/2011</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,1371306</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-1,11%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-35,10%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-40,57%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-32,91%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-25,34%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,26%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-4,00%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">29,96%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">713,89</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG BIASED FIC FIM</td>
						<td style="padding: 6px 6px; text-align: center;">20/03/2020</td>
						<td style="padding: 6px 6px; text-align: center;">27/12/2016</td>
						<!-- <td style="padding: 6px 6px;">27/12/2016</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">1,5518897</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,97%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-22,09%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-27,32%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-20,89%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-13,57%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">9,42%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">9,99%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">40,50%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">738,03</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td> -->
					</tr>
				
					<tr>
						<td style="padding: 6px 6px; font-weight: bold;">NAVI LONG SHORT FIC FIM</td>
						<td style="padding: 6px 6px; text-align: center;">20/03/2020</td>
						<td style="padding: 6px 6px; text-align: center;">29/09/2010</td>
						<!-- <td style="padding: 6px 6px;">29/09/2010</td> -->
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,9585887</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-0,34%</td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;" style="text-align: center; white-space: nowrap;">-2,02%</td>
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-3,03%</td>
						
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-0,56%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,35%</td>
							
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">12,22%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">15,82%</td>
							
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">31,45%</td>
							
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">826,66</td>
						
						
						<!--  <td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td> -->
					</tr>
				
				
				</tbody>


				<tbody style="background-color: #EEE;">
					<tr>
						<td style="1px solid #ddd;">&nbsp;</td>
						<td style="1px solid #ddd;">&nbsp;</td>
						<td style="1px solid #ddd;">&nbsp;</td>
						<!-- <td style="1px solid #ddd;">&nbsp;</td> -->
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
							<td style="1px solid #ddd;">&nbsp;</td>
							
						
						
						
						<td style="1px solid #ddd;">&nbsp;</td>
						
						
					</tr>
				</tbody>


				<thead>
					<tr>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; border-top-left-radius: 3px;">Índice</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data</th>
						 
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center;">Data de Início</th>
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Cotação</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Dia</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Mês</th>
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">Ano</th>
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">6M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">12M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">18M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">24M</th>
						
						
							<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;">36M</th>
						
						
						
						<th style="padding: 8px 6px; background-color: #FFF; border-bottom: 1px solid #CCC; text-align: center; white-space: nowrap;"></th>
						
						
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td style="padding: 6px 6px;">CDI</td>
						<td style="padding: 6px 6px; text-align: center;">20/03/2020</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,01%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,24%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">0,91%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">2,29%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">5,51%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">8,73%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">12,21%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">21,93%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
					<tr>
						<td style="padding: 6px 6px;">IBOV</td>
						<td style="padding: 6px 6px; text-align: center;">20/03/2020</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">67.069,36</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-1,85%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-35,62%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-42,00%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-36,01%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-31,59%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-14,14%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-20,31%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">3,37%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
					<tr>
						<td style="padding: 6px 6px;">IMA-B</td>
						<td style="padding: 6px 6px; text-align: center;">20/03/2020</td>
						
						<td style="padding: 6px 6px; text-align: center;"></td>
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">6.964,91</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-0,51%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-9,47%</td>
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-8,82%</td>
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-6,00%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">4,93%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">23,33%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">21,53%</td>
						
						
							<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">34,04%</td>
						
						
						
						<td style="padding: 6px 6px; text-align: center; white-space: nowrap;">-</td>
						
						
					</tr>
					
				</tbody>

			</table>
			





	</div>
	
	
	<div style="margin: 0 0 8px 0; padding: 4px; text-align: center; font-size: 11px; color: #CCC">
		<a style="color: #BBB; text-decoration: none;" href="http://www.inoa.com.br" target="_blank">
			AlphaTools - 2020 © Inoa Sistemas
		</a>
	</div>
	
</div>